@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/css/font-awesome.css";
@import "variables.scss";

body {
    * { 
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}
/* Header component style */
header {
    padding-bottom: $spacing_xs;
    ul {
        list-style: none;
        padding: 0;
        li {
            display: inline-block;
            padding: $spacing_m;
            a {
                text-decoration: none;
                color: gray;
                padding: $spacing_xs;
                &.active {
                    color: lightsalmon;
                    position: relative;
                }   
            }
            button {
                background-color: lightsalmon;
                color: white;
                border-radius: 6px;
                border: 0;
            }
        }
    }
}
.active::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: lightsalmon;
    bottom: -$spacing_s;
}

/* TodaysPick component style */
.todays_pick_container {
    background-color: lightgray;
    height: 1000px;
    position: relative;
    .todays_pick_background_container {
        background-image: url("./assets/single-post-img3.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 600px;
        position: relative;
        .article {
            padding: $spacing_xl $spacing_l $spacing_m;
            text-align: center;
            background-color: white;
            width: 30%;
            border-radius: 8px;
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translateX(-50%); 
            position: relative;
            h3 {
                margin: 0;
            }
            p {
                margin: 0;
                margin-top: $spacing_s;
                font-size: 12px;
            }
            .article_tag {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: $spacing_s;
                border-radius: 8px;
                background-color: orange;
                color: white;
            }
        }
    }
    .articles_choices_container {
        background-color: white;
        position: absolute;
        bottom: 10%;
        text-align: center;
        width: 60%;
        left: 50%;
        transform: translateX(-50%);
        padding: $spacing_l $spacing_s $spacing_xl;
        >h5 {
            padding-bottom: $spacing_l;
            margin-bottom: 0;
        }
        .article_card_container {
            width: calc(100% / 3);
            padding: 0 $spacing_m;
            .image_container {
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
    }
}

/* Recipes component style */
.recipes_container_fluid {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    .recipes_container {
        width: calc(100% / 3 * 2);
        padding-bottom: $spacing_max;
        display: flex;
        flex-direction: column;
        align-items: center;
        .recipe_title_container {
            text-align: center;
            width: 50%;
            padding-bottom: $spacing_xxl;
            h4 {
                padding-bottom: $spacing_l;
            }
        }
        .recipe_cards_container {
            column-gap: $spacing_xl;
            display: flex;
            .recipe_card {
                width: calc(50% - $spacing_xl / 2);
                img {
                    width: 100%;
                }
                .recipe_card_text_container {
                    background-color: white;
                    padding: $spacing_m;
                    h5 {
                        padding-bottom: $spacing_s;
                    }
                    span {
                        font-size: 13px;
                    }
                    p {
                        height: 185px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 7;
                        -webkit-box-orient: vertical;
                        margin-bottom: $spacing_m;
                        margin-top: $spacing_m;
                        padding-top: $spacing_m;
                        border-top: 1px dashed black;
                    }
                    button {
                        border: 0;
                        color: white;
                        background-color: orange;
                        padding: $spacing_s $spacing_l;
                    }
                }
            }
            .recipe_posters_container {
                display: flex;
                flex-wrap: wrap;
                width: calc(50% - $spacing_xl / 2);
                column-gap: $spacing_l;
                row-gap: $spacing_l;
                img {
                    width: calc(50% - $spacing_l / 2);
                }
            }
        }
    }
}

/* CulinaryCollection component style */
.collection_container_fluid {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    .collection_container {
        width: calc(100% / 3 * 2);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: $spacing_max;
        .collection_title_container {
            text-align: center;
            width: 50%;
            padding-bottom: $spacing_xxl;
            h4 {
                padding-bottom: $spacing_l;
            }
        }
        .collection_cards_container {
            display: flex;
            flex-wrap: wrap;
            column-gap: $spacing_xl;
            row-gap: $spacing_xl;
            .collection_card {
                width: calc((100% / 4) - ($spacing_xl / 4 * 3));
                aspect-ratio: 150 / 98;
                background-color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                img {
                    width: 33%;
                    padding-bottom: $spacing_m;
                }
            }
        }
    }
}

/* FarmToTable component style */
.farm_to_table_container_fluid {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    padding-bottom: $spacing_max;
    .farm_to_table_container {
        width: calc(100% / 3 * 2);
        .upper_farm_to_table_container {
            display: flex;
            .farm_to_table_title_container {
                width: 50%;
                padding-bottom: $spacing_xxl;
                h4 {
                    padding-bottom: $spacing_l;
                }
            }
            .button_container {
                margin-left: auto;
                button {
                    border: none;
                    color: white;
                    background-color: orange;
                    flex-grow: 0;
                    padding: $spacing_s $spacing_m;
                    font-size: 13px;
                }
            }
        }
        .bottom_farm_to_table_container {
            display: flex;
            column-gap: $spacing_xxl;
            .left_bottom_farm_to_table_container {
                width: calc(60% - ($spacing_xxl / 2));
                .farm_to_table_card {
                    width: 100%;
                    margin-bottom: $spacing_xl;
                    img {
                        width: 100%;
                    }
                    .farm_to_table_card_text_container {
                        background-color: white;

                    }
                }
                .article_card_container {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    column-gap: $spacing_xl;
                    row-gap: $spacing_xl;
                    .article_card {
                        background-color: white;
                        padding: $spacing_m;
                        width: calc((100% - $spacing_xl) / 2);
                        text-align: center;
                        cursor: pointer;
                        .image_container {
                            width: 100%;
                            img {
                                width: 100%;
                            }
                        }
                        p {
                            font-size: 12px;
                        }
                    }
                }
            }
            .right_bottom_farm_to_table_container {
                width: calc(100% / 3 - ($spacing_xxl / 2));
            }
        }
    }
}

/* Subscribe component style */
.subscribe_container {
    background-image: url("./assets/subscribe-sec-bg.png");
    background-position: center;
    background-size: cover;
    /* background-size: contain;
    background-repeat: repeat-y; */
    .container {
        width: 50%;
        padding: $spacing_huge 0;

        p {
            margin: $spacing_l 0;
        }
        .mail_subscribtion_container {
            margin: $spacing_xl 0;
            input {
                border-radius: 3px;
                border: 2px solid gray;
                padding: $spacing_m;
                width: 400px;
                margin-right: $spacing_m;
            }
            button {
                border: none;
                padding: $spacing_s $spacing_xl;
                background-color: orange;
                color: white;
            }
        }
    }
    img {
        width: 25%;
    }
}

/* Footer component style */
footer {
    .container {
        .logo_and_social_container {
            padding-right: $spacing_m;
            ul {
                margin-top: $spacing_m;
                li {
                    display: inline-block;
                    padding: $spacing_xxs;
                    a {
                        padding: $spacing_xs;
                    }
                }
            }
        }
        .footer_links_container {
            padding-left: $spacing_xxl;
            ul {
                li {
                    padding-top: $spacing_s;
                    padding-bottom: $spacing_s;
                }
            }
        }
        .contact_container {
            padding-right: $spacing_l;
            ul {
                li {
                    padding-top: $spacing_s;
                    padding-bottom: $spacing_s;
                    div {
                        display: inline-block;
                        height: 100%;
                        padding-right: $spacing_m;
                    }
                }
            }
        }
        .get_your_app_container {
            a {
                margin-top: $spacing_min;
                margin-bottom: $spacing_min;
                img {
                    padding-bottom: $spacing_xs;
                    padding-top: $spacing_xs;
                }
            }
        }
        
        
        
        
        .contact_container,
        .get_your_app_container {
            padding-left: $spacing_xl;
            h4 {
                color: lightsalmon;
                text-transform: uppercase;
    
            }
        }
        .logo_and_social_container,
        .footer_links_container,
        .contact_container {
            width: 25%;
            border-right: 1px solid gray;
            ul {
                list-style: none;
                padding: 0;
                li {
                    a {
                        color: gray;
                        text-decoration: none;
                    }
                } 
            }
        }
    }

    .container-fluid {
        background-color: lightgray;
        border-top: 3px solid gray;
        padding-top: $spacing_l;
        padding-bottom: $spacing_l;
        a {
            text-decoration: none;
            color: gray;
            font-size: 30px;
            position: absolute;
            left: 100px;
            top: 50%;
            transform: translateY(-50%);
        }
        span {
            color: gray;
            font-size: 10px;
        }
    }
}
