@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/css/font-awesome.css";
@import "variables.scss";

body {
    * { 
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}
/* Header component style */
header {
    position: relative;
    .container {
        padding-bottom: $spacing_xs;
        ul {
            list-style: none;
            padding: 0;
            li {
                display: inline-block;
                padding: $spacing_m;
                a {
                    text-decoration: none;
                    color: gray;
                    padding: $spacing_xs;
                    &.active {
                        color: lightsalmon;
                        position: relative;
                    }   
                }
                button {
                    background-color: lightsalmon;
                    color: white;
                    border-radius: 6px;
                    padding: $spacing_xxs;
                    border: 0;
                }
            }
        }
    }
    .header_tag_container_p1,
    .header_tag_container_p2 {
        cursor: pointer;
        position: absolute;
        right: 12%;
        background-color: whitesmoke;
        color: gray;
        display: flex;
        flex-direction: column;
        padding: $spacing_xs;
        align-items: center;
        justify-content: center;
        height: 4rem;
        aspect-ratio: 1 / 1;
        border-radius: 6px;
        box-shadow:  5px  5px 5px rgba($color: #000000, $alpha: 0.6);
        p {
            font-size: 13px;
        }
    }
    .header_tag_container_p1 {
        top: 53%;
        z-index: 200;
        i {
            font-size: 30px;
        }
    }
    .header_tag_container_p2 {
        top: 85%;
        z-index: 200;
        h5 {
            color: green;
        }
    }
}
.active::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: lightsalmon;
    bottom: -$spacing_s;
}

/* TodaysPick component style */
.todays_pick_container {
    background-color: lightgray;
    height: 1000px;
    position: relative;
    .todays_pick_background_container {
        background-image: url("./assets/single-post-img3.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 600px;
        position: relative;
        .article {
            padding: $spacing_xl $spacing_l $spacing_m;
            text-align: center;
            background-color: white;
            width: 30%;
            border-radius: 8px;
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translateX(-50%); 
            position: relative;
            h3 {
                margin: 0;
            }
            p {
                margin: 0;
                margin-top: $spacing_s;
                font-size: 12px;
            }
            .article_tag {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: $spacing_s;
                border-radius: 8px;
                background-color: orange;
                color: white;
            }
        }
    }
    .articles_choices_container {
        background-color: white;
        position: absolute;
        bottom: 10%;
        text-align: center;
        width: 60%;
        left: 50%;
        transform: translateX(-50%);
        padding: $spacing_l $spacing_s $spacing_xl;
        >h5 {
            padding-bottom: $spacing_l;
            margin-bottom: 0;
        }
        .article_card_container {
            width: calc(100% / 3);
            padding: 0 $spacing_m;
            cursor: pointer;
            .image_container {
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
    }
}

/* Recipes component style */
.recipes_container_fluid {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    .recipes_container {
        width: calc(100% / 3 * 2);
        padding-bottom: $spacing_max;
        display: flex;
        flex-direction: column;
        align-items: center;
        .recipe_title_container {
            text-align: center;
            width: 50%;
            padding-bottom: $spacing_xxl;
            h4 {
                padding-bottom: $spacing_l;
            }
        }
        .recipe_cards_container {
            column-gap: $spacing_xl;
            display: flex;
            .recipe_card {
                width: calc(50% - $spacing_xl / 2);
                img {
                    width: 100%;
                }
                .recipe_card_text_container {
                    background-color: white;
                    padding: $spacing_m;
                    h5 {
                        padding-bottom: $spacing_s;
                    }
                    span {
                        font-size: 13px;
                    }
                    p {
                        height: 185px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 7;
                        -webkit-box-orient: vertical;
                        margin-bottom: $spacing_m;
                        margin-top: $spacing_m;
                        padding-top: $spacing_m;
                        border-top: 1px dashed black;
                    }
                    button {
                        border: 0;
                        color: white;
                        background-color: orange;
                        padding: $spacing_s $spacing_l;
                    }
                }
            }
            .recipe_posters_container {
                display: flex;
                flex-wrap: wrap;
                width: calc(50% - $spacing_xl / 2);
                column-gap: $spacing_l;
                row-gap: $spacing_l;
                img {
                    width: calc(50% - $spacing_l / 2);
                    cursor: pointer;
                }
            }
        }
    }
}

/* CulinaryCollection component style */
.collection_container_fluid {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    .collection_container {
        width: calc(100% / 3 * 2);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: $spacing_max;
        .collection_title_container {
            text-align: center;
            width: 50%;
            padding-bottom: $spacing_xxl;
            h4 {
                padding-bottom: $spacing_l;
            }
        }
        .collection_cards_container {
            display: flex;
            flex-wrap: wrap;
            column-gap: $spacing_xl;
            row-gap: $spacing_xl;
            .collection_card {
                width: calc((100% / 4) - ($spacing_xl / 4 * 3));
                aspect-ratio: 150 / 98;
                background-color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                img {
                    width: 33%;
                    padding-bottom: $spacing_m;
                }
            }
        }
    }
}

/* FarmToTable component style */
.farm_to_table_container_fluid {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    padding-bottom: $spacing_max;
    .farm_to_table_container {
        width: calc(100% / 3 * 2);
        .upper_farm_to_table_container {
            display: flex;
            .farm_to_table_title_container {
                width: 50%;
                padding-bottom: $spacing_xxl;
                h4 {
                    padding-bottom: $spacing_l;
                }
            }
            .button_container {
                margin-left: auto;
                button {
                    border: none;
                    color: white;
                    background-color: orange;
                    flex-grow: 0;
                    padding: $spacing_s $spacing_m;
                    font-size: 13px;
                }
            }
        }
        .bottom_farm_to_table_container {
            display: flex;
            column-gap: $spacing_xxl;
            .left_bottom_farm_to_table_container {
                width: calc(60% - ($spacing_xxl / 2));
                .farm_to_table_card {
                    width: 100%;
                    margin-bottom: $spacing_xl;
                    img {
                        width: 100%;
                    }
                    .farm_to_table_card_text_container {
                        background-color: white;
                        padding: $spacing_xl;
                        h5 {
                            padding-bottom: $spacing_xs;
                        }
                        span {
                            font-size: 12px;
                        }
                        p {
                            padding-top: $spacing_m;
                            margin-top: $spacing_m;
                            padding-bottom: $spacing_m;
                            border-top: 1px dashed black;
                        }
                        .d-flex {
                            a {
                                text-decoration: none;
                                color: black;
                            }
                        }
                    }
                }
                .article_card_container {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    column-gap: $spacing_xl;
                    row-gap: $spacing_xl;
                    .article_card {
                        background-color: white;
                        padding: $spacing_m;
                        width: calc((100% - $spacing_xl) / 2);
                        text-align: center;
                        cursor: pointer;
                        .image_container {
                            width: 100%;
                            img {
                                width: 100%;
                            }
                        }
                        h5 {
                            font-size: 17px;
                            padding: $spacing_s;
                        }
                        p {
                            font-size: 12px;
                        }
                    }
                }
                >button {
                    background-color: rgb(154, 154, 154);
                    border: 0;
                    color: black;
                    padding: $spacing_m $spacing_l;
                    width: 100%;
                    margin-top: $spacing_xl;
                }
            }
            .right_bottom_farm_to_table_container {
                width: calc(40% - ($spacing_xxl / 2));
                display: flex;
                flex-direction: column;
                .view_recipes_container {
                    background-image: url('./assets/ad-bg.jpg');
                    width: 100%;
                    background-size: contain;
                    aspect-ratio: 720 / 950;
                    position: relative;
                    cursor: pointer;
                    text-align: center;
                    margin-bottom:  $spacing_xxl;
                    h3 {
                        position: absolute;
                        width: 40%;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                .city_guides_container {
                    width: 100%;
                    object-fit: contain;
                    position: relative;
                    cursor: pointer;
                    img {
                        width: 100%;
                    }
                    .city_guide_info {
                        background-color: black;
                        color: white;
                        width: calc(100% / 3 * 2);
                        position: absolute;
                        left: 0;
                        top: 45%;
                        padding: $spacing_s;
                        h4 {
                            font-size: 22px;
                        }
                    }
                    .city_guide_bottom_tag {
                        background-color: orange;
                        color: white;
                        text-align: center;
                        padding: $spacing_m;
                        text-transform: uppercase;
                    }
                    .div_with_border {
                        width: 100%;
                        padding-bottom: $spacing_xxl;
                        border-bottom: 1px solid black;
                        margin-bottom: $spacing_xxl;
                    }
                }
                .social_section_container {
                    input {
                        width: 100%;
                        border-radius: 4px;
                        padding: $spacing_m;
                        margin-bottom: $spacing_l;
                    }
                    >h6 {
                        color: orange;
                        margin-bottom: $spacing_l;
                    }
                    .social_icons_container_row {
                        margin-bottom: $spacing_xl;
                        .social_icon_container {
                            display: inline-block;
                            margin-right: $spacing_l;
                            background-color: rgb(172, 172, 172);
                            border-radius: 8px;
                            aspect-ratio: 1 / 1;
                            height: 2rem;
                            position: relative;
                            a {
                                padding: $spacing_s;
                                text-decoration: none;
                                color: gray;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }
                    .btn-group {
                        width: 100%;
                        margin-bottom: $spacing_xl;
                    }
                    .mini_article_posts_container {
                        margin-bottom: $spacing_l;
                        .mini_article_post {
                            display: flex;
                            align-items: center;
                            margin-bottom: $spacing_m;
                            .image_container {
                                width: 20%;
                                aspect-ratio: 1 / 1;
                                border-radius: 50%;
                                margin: $spacing_s;
                                object-fit: contain;
                                flex-shrink: 0;
                                overflow: hidden;
                                object-position: center;
                                img {
                                    height: 100%;
                                }
                            }
                            .mini_article_text_container {
                                h6 {
                                    padding: $spacing_s;
                                    padding-bottom: $spacing_xs;
                                }
                                p {
                                    padding: $spacing_s;
                                    padding-top: $spacing_xs;
                                }
                            }
                        }
                    }
                    .tweets_container {
                        background-color: white;
                        border-radius: 4px;
                        padding: $spacing_m;
                        .title_container {
                            display: flex;
                            align-items: center;
                            h5 {
                                font-size: 13px;
                                strong {
                                    font-size: 24px;
                                }
                                a {
                                    font-size: 16px;
                                    text-decoration: none;
                                }
                            }
                            >a {
                                text-decoration: none;
                                color: gray;
                            }
                        }
                        .tweet_post_container {
                            display: flex;
                            width: 100%;
                            >.image_container {
                                width: 12%;
                                flex-shrink: 0;
                                margin-right: $spacing_xs;
                                img {
                                    width: 100%;
                                }
                            }
                            .tweet_post_text_container {
                                >.align-items-center {
                                    padding-bottom: $spacing_m;
                                    div {
                                        a {
                                            text-decoration: none;
                                        }
                                    }
                                    >a {
                                        text-decoration: none;
                                        color: lightgray;
                                    }
                                }
                                p {
                                    padding-bottom: $spacing_l;
                                    a {
                                        text-decoration: none;
                                    }
                                }
                                .image_container {
                                    width: 100%;
                                    padding-bottom: $spacing_xs;
                                    img { 
                                        width: 100%;
                                    }
                                }
                                .tweet_post_options_container {
                                    display: flex;
                                    align-items: center;
                                    text-decoration: none;
                                    color: lightgray;
                                    div {
                                        a {
                                            margin-right: $spacing_m;
                                        }
                                    }
                                    a {
                                        text-decoration: none;
                                        color: gray;
                                        padding: $spacing_s;
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}

/* Subscribe component style */
.subscribe_container {
    background-image: url("./assets/subscribe-sec-bg.png");
    background-position: center;
    background-size: cover;
    /* background-size: contain;
    background-repeat: repeat-y; */
    .container {
        width: 50%;
        padding: $spacing_huge 0;

        p {
            margin: $spacing_l 0;
        }
        .mail_subscribtion_container {
            margin: $spacing_xl 0;
            input {
                border-radius: 3px;
                border: 2px solid gray;
                padding: $spacing_m;
                width: 400px;
                margin-right: $spacing_m;
            }
            button {
                border: none;
                padding: $spacing_s $spacing_xl;
                background-color: orange;
                color: white;
            }
        }
    }
    img {
        width: 25%;
    }
}

/* Footer component style */
footer {
    .container {
        .logo_and_social_container {
            padding-right: $spacing_m;
            ul {
                margin-top: $spacing_m;
                li {
                    display: inline-block;
                    padding: $spacing_xxs;
                    a {
                        padding: $spacing_xs;
                    }
                }
            }
        }
        .footer_links_container {
            padding-left: $spacing_xxl;
            ul {
                li {
                    padding-top: $spacing_s;
                    padding-bottom: $spacing_s;
                }
            }
        }
        .contact_container {
            padding-right: $spacing_l;
            ul {
                li {
                    padding-top: $spacing_s;
                    padding-bottom: $spacing_s;
                    div {
                        display: inline-block;
                        height: 100%;
                        padding-right: $spacing_m;
                    }
                }
            }
        }
        .get_your_app_container {
            a {
                margin-top: $spacing_min;
                margin-bottom: $spacing_min;
                img {
                    padding-bottom: $spacing_xs;
                    padding-top: $spacing_xs;
                }
            }
        }
        
        
        
        
        .contact_container,
        .get_your_app_container {
            padding-left: $spacing_xl;
            h4 {
                color: lightsalmon;
                text-transform: uppercase;
    
            }
        }
        .logo_and_social_container,
        .footer_links_container,
        .contact_container {
            width: 25%;
            border-right: 1px solid gray;
            ul {
                list-style: none;
                padding: 0;
                li {
                    a {
                        color: gray;
                        text-decoration: none;
                    }
                } 
            }
        }
    }

    .container-fluid {
        background-color: lightgray;
        border-top: 3px solid gray;
        padding-top: $spacing_l;
        padding-bottom: $spacing_l;
        a {
            text-decoration: none;
            color: gray;
            font-size: 30px;
            position: absolute;
            left: 100px;
            top: 50%;
            transform: translateY(-50%);
        }
        span {
            color: gray;
            font-size: 10px;
        }
    }
}
