@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/css/font-awesome.css";
@import "variables.scss";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header component style */
header {
    ul {
        list-style: none;
        padding: 0;
        li {
            display: inline-block;
            padding: $spacing_m;
            a {
                text-decoration: none;
                color: gray;
                padding: $spacing_xs;
                &.active {
                    color: lightsalmon;
                    position: relative;
                }   
            }
            button {
                background-color: lightsalmon;
                color: white;
                border-radius: 6px;
                border: 0;
            }
        }
    }
}
.active::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: lightsalmon;
    bottom: -10px;
}

/* Subscribe component style */
.subscribe_container {
    background-image: url("./assets/subscribe-sec-bg.png");
    background-position: center;
    background-size: cover;
    /* background-size: contain;
    background-repeat: repeat-y; */
    .container {
        width: 50%;
        padding: $spacing_huge 0;

        p {
            margin: $spacing_l 0;
        }
        .mail_subscribtion_container {
            margin: $spacing_xl 0;
            input {
                border-radius: 3px;
                border: 2px solid gray;
                padding: $spacing_m;
                width: 400px;
                margin-right: $spacing_m;
            }
            button {
                border: none;
                padding: $spacing_s $spacing_xl;
                background-color: orange;
                color: white;
            }
        }
    }
    img {
        width: 25%;
    }
}

/* Footer component style */
footer {
    .container {
        .logo_and_social_container {
            padding-right: $spacing_m;
            ul {
                margin-top: $spacing_m;
                li {
                    display: inline-block;
                    padding: $spacing_xxs;
                    a {
                        padding: $spacing_xs;
                    }
                }
            }
        }
        .footer_links_container {
            padding-left: $spacing_xxl;
            ul {
                li {
                    padding-top: $spacing_s;
                    padding-bottom: $spacing_s;
                }
            }
        }
        .contact_container {
            padding-right: $spacing_l;
            ul {
                li {
                    padding-top: $spacing_s;
                    padding-bottom: $spacing_s;
                    div {
                        display: inline-block;
                        height: 100%;
                        padding-right: $spacing_m;
                    }
                }
            }
        }
        .get_your_app_container {
            a {
                margin-top: $spacing_min;
                margin-bottom: $spacing_min;
                img {
                    padding-bottom: $spacing_xs;
                    padding-top: $spacing_xs;
                }
            }
        }
        
        
        
        
        .contact_container,
        .get_your_app_container {
            padding-left: $spacing_xl;
            h4 {
                color: lightsalmon;
                text-transform: uppercase;
    
            }
        }
        .logo_and_social_container,
        .footer_links_container,
        .contact_container {
            width: 25%;
            border-right: 1px solid gray;
            ul {
                list-style: none;
                padding: 0;
                li {
                    a {
                        color: gray;
                        text-decoration: none;
                    }
                } 
            }
        }
    }

    .container-fluid {
        background-color: lightgray;
        border-top: 3px solid gray;
        padding-top: $spacing_l;
        padding-bottom: $spacing_l;
        a {
            text-decoration: none;
            color: gray;
            font-size: 30px;
            position: absolute;
            left: 100px;
            top: 50%;
            transform: translateY(-50%);
        }
        span {
            color: gray;
            font-size: 10px;
        }
    }
}
